* {
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: Poppins;
}

.container {
  position: relative;
    padding: 10px 220px;
}

.empty-content {
  display: flex;
  justify-content: center;
}

.empty-item {
  display: flex;
  justify-content: center;
}

.dropdown .btn-dropdown {
  border-radius: 50%;
  width: 54px;
  height: 54px;
  border: none;
  background-color: #e5e5e5;
  color: #ffffff;
  font-weight: 400;
  font-family: inherit;
  rotate: 90deg;
}

.btn {
  border-radius: 45px;
  background-color: #16abf8;
  color: #ffffff;
  border: none;
  height: 54px;
  width: 150px;
  left: 640px;
  top: 330px;
  border-radius: 45px;
  padding: 13px 14px 13px 14px;
  font-size: 16px;
  font-weight: 500;
}

/* TODO HEADER */
.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.todo-header .btn-add {
  background-color: #16abf8;
  width: 159px;
  height: 54px;
  padding: 13px, 21px, 13px, 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: inherit;
  border-radius: 45px;
  gap: 6px;
  font-size: 16px;
  border: none;
}

.todo-header .new-activity {
  margin-right: auto;
}

/* SELECT OPTION */
.select-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 205px;
  height: 52px;

  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
}

.select-menu .select-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.select-menu .options {
  position: relative;
  top: -17px;
  left: -1px;
  background-color: #ffffff;
  width: 205px;
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  align-items: center;
}

.select-menu .options .option {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border: 1px solid #e5e5e5;
  width: 205px;
  height: 52px;

  align-content: center;
}

.select-menu .options .option i {
  align-self: center;
  justify-self: center;
  font-size: 16px;
}

.select-menu .options .option:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.select-menu .options .option:hover {
  background: #a2d5ee;
}

.select-menu .options .selected {
  background: #16abf8;
}
